<h1><% params[:category] %></h1>
<% if @books.count == 0 %>
  <h1> There no books in this category</h1>
  <% else %>
  <div class="row">


<% @books.each do |book|  %>
<div class="col-md-3">
    <%= link_to image_tag(book.image), book_path(book), class: "book" %>
      </div>
<% end %>
  </div>
<% end %>